doctype html
html(lang="en")
	head
		include includes/head
	body
		div.container
			include includes/header
			div.row.clearfix
				div.col-md-2.column
					include includes/leftcolumn

				div.col-md-6.column

					div#plugins
						h2 List of installed plugins
						br
						each val, key in plugins
							div.plugin.panel.panel-info
								div.panel-heading
									h3.panel-title #{val.name}
								div.panel-body
									span.label.label-success.pull-right V: #{val.version}
									em #{val.description}
								div.panel-footer
									em.path.pull-right #{val.path}
						form(action="/upload" method="post" enctype="multipart/form-data")
							h2 Install new plugin
							div.form-group
								label(for="exampleInputFile") File input
								input#exampleInputFile(type="file" name="plugin")
								p.help-block Add a .zip file with the contents of the plugin
								button.btn.btn-default(type="submit") Upload

				div.col-md-4.column
					include includes/rightcolumn
