title Robin
script(src="js/socket-io-min.js")
script(src="js/jquery.js")
script(src="js/robin.js")
script(src="js/bootstrap.min.js")
link(href="css/robin.css" rel="stylesheet")
link(href="css/bootstrap.min.css" rel="stylesheet")
link(href="css/bootstrap-theme.min.css" rel="stylesheet")
link(href="css/fontastic.css" rel="stylesheet")
